{% extends 'userauth/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<form method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Enter Password" name="password" required>
  </div>
  <button type="submit" class="btn btn-outline-success">Login</button>
</form>
{% endblock content %}