{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}TeachAR{% endblock title %}

{% block content %}
    <h5 class="mb-5">
        <a style="text-decoration:none; color:black" href="{% url 'home' %}">
            <i class='far fa-arrow-alt-circle-left' style='font-size:22px'></i>
            Subjects
        </a>
    </h5>
    <h2>{{ subject.name }}</h2>
    <h3 class="mt-5 mb-5">Topics</h3>
    <div class="d-flex flex-row">
        {% for topic in topics %}
        <div class="card mr-5" style="width: 18rem;">
            <img class="card-img-top" src="{{ topic.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ topic.name }}</h5>
                <div class="d-flex flex-row justify-content-around">
                    <a href="{{ topic.link }}" class="btn btn-primary" target="_blank">AR effect</a>
                    <a class="btn btn-secondary text-white" data-toggle="modal" data-target="#{{ topic.name }}_qr">QR</a>
                    <a href="" style="color:black; font-size:20px;" data-toggle="modal" data-target="#{{ topic.name }}_share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- QR Modal -->
            <div class="modal fade" id="{{ topic.name }}_qr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ topic.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <img class="mx-auto d-block" width="300" src="{{ topic.qr_code.url }}" alt="Qr code cap">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- Share Modal -->
            <div class="modal fade" id="{{ topic.name }}_share" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ topic.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <span>Share this AR effect with your friends.</span>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <form method="POST" action="{% url 'send_email' %}">
                            {% csrf_token %}
                            <input type="email" placeholder="Enter email" name="email">
                            <input type="hidden" name="sender_name" value="{{ user.name }}">
                            <input type="hidden" name="sender_email" value="{{ user.email }}">
                            <input type="hidden" name="subject_name" value="{{ subject.name }}">
                            <input type="hidden" name="topic_name" value="{{ topic.name }}">
                            <input type="hidden" name="effect_link" value="{{ topic.link }}">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}